$violet-solid: #60558f;
$violet-dark: #2a224d;
$violet-tint-divider: #d3d5de;
$violet-bg-player: #eeeff5;
$violet-bg-list: #f3f4f8;
$violet-txt-name: #78747f;
$violet-txt-title: #2f1a4b;
$brickred-solid: #ed5e74;
